body {
  background: #01786E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64bbaa, #00A698);
  background: -moz-linear-gradient(to right, #64bbaa, #00A698);
  background: -o-linear-gradient(to right, #64bbaa, #00A698);
  background: linear-gradient(to right, #64bbaa, #00A698);

  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 39px;
}

h2 {
  color: #22EEEE;
  text-shadow: 0px -1px 0px #4D4C10;
  opacity: 0.4;
  font-size: 1.1em;
}

#container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 0;
  width: 100%;
}

#content {
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
